Repository sungam3r/graphql-sdl-exporter, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

Bump GraphQL.IntrospectionModel
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: none

Bump GraphQL.IntrospectionModel (#21)
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: none

Bump GraphQL.IntrospectionModel to 0.0.12
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
Labels: none

Bump GraphQL.IntrospectionModel to 0.0.12 (#22)
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
Labels: none

Bump GraphQL.IntrospectionModel to 0.0.13
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: none

Bump GraphQL.IntrospectionModel to 0.0.13 (#23)
  src/Directory.Build.props
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: none

Different fixes
  README.md
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/IsExternalInit.cs
  src/GraphQL.SDLExporter/Properties/launchSettings.json
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, documentation

Different fixes (#24)
  README.md
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/IsExternalInit.cs
  src/GraphQL.SDLExporter/Properties/launchSettings.json
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, documentation

Fix for default values
  .gitignore
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Examples/github.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests

comment
  src/GraphQL.SDLExporter/CommandLineOptions.cs
Labels: none

skip
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
Labels: tests

Fix for default values (#27)
  .gitignore
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Examples/github.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests

Update test.yml
  .github/workflows/test.yml
Labels: CI

.github/labeler.yml:

tests:
  - src/GraphQL.SDLExporter.Tests/**/*

CI:
  - .github/workflows/**/*

code style:
  - .editorconfig

documentation:
  - README.md
