Repository sungam3r/graphql-sdl-exporter, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

Simplify code coverage
  .github/workflows/test.yml
  README.md
  src/Directory.Build.targets
Labels: CI, documentation

Simplify code coverage (#122)
  .github/workflows/test.yml
  README.md
  src/Directory.Build.targets
Labels: CI, documentation

1
  .github/workflows/test.yml
Labels: CI

--no-build
  .github/workflows/test.yml
Labels: CI

--no-build
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
Labels: CI

NET10+slnx,drop net7.0
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.targets
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb.approved.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter.sln
  src/GraphQL.SDLExporter.slnx
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests, CI

NET10+slnx,drop net7.0 (#136)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.targets
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb.approved.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter.sln
  src/GraphQL.SDLExporter.slnx
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests, CI

Regenerate approved graphql schema
  src/GraphQL.SDLExporter.Tests/Examples/github.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb.approved.graphql
Labels: tests

Migrate to globalconfig + DotNetProjectFile.Analyzers
  .editorconfig
  .globalconfig
  assets/icon.png
  assets/logo.64x64.png
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.slnx
Labels: tests, code style

change directory for dependabot
  .github/dependabot.yml
Labels: CI

1
  .globalconfig
  src/Directory.Build.props
Labels: none

Migrate to globalconfig + DotNetProjectFile.Analyzers (#145)
  .editorconfig
  .globalconfig
  assets/icon.png
  assets/logo.64x64.png
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.slnx
Labels: tests, code style

1
  .globalconfig
Labels: none

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - src/GraphQL.SDLExporter.Tests/**/*

CI:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*
    - .github/dependabot.yml

code style:
- changed-files:
  - any-glob-to-any-file:
    - .editorconfig

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
