Repository sungam3r/graphql-sdl-exporter, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CI, code style, documentation

Fix CI
  .github/workflows/publish-release.yml
Labels: CI

NET6
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, CI

NET6 (#41)
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, CI

Fix CI output
  src/GraphQL.SDLExporter/ColoredConsole.cs
Labels: none

test
  src/GraphQL.SDLExporter/ColoredConsole.cs
Labels: none

test2
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
Labels: none

trace
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
Labels: none

Skip one test
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
Labels: tests

Skip one test (#44)
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
Labels: tests

Add dependency-review-action
  .github/workflows/dependency-review.yml
  src/GraphQL.SDLExporter.sln
Labels: CI

fix labeler
  .github/workflows/label.yml
Labels: CI

Add dependency-review-action and fix labeler (#56)
  .github/workflows/dependency-review.yml
  .github/workflows/label.yml
  src/GraphQL.SDLExporter.sln
Labels: CI

Tune CI and move to file-scoped namespaces and implicit usings
  .editorconfig
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/IsExternalInit.cs
  src/GraphQL.SDLExporter/Program.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, CI, code style

1
  src/GraphQL.SDLExporter/Program.cs
Labels: none

Tune CI and move to file-scoped namespaces and implicit usings (#66)
  .editorconfig
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/IsExternalInit.cs
  src/GraphQL.SDLExporter/Program.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests, CI, code style

--timeout switch
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests

fix
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: none

Add --timeout switch (#70)
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests

NET7
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests, CI

version
  src/Directory.Build.props
Labels: none

codecov
  .github/codecov.yml
  src/GraphQL.SDLExporter.sln
Labels: none

NET7 (#71)
  .github/codecov.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.sln
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
Labels: tests, CI

Change badges
  README.md
Labels: documentation

Using statements
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests

format
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: none

Using statements (#75)
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: tests

Use MinVer + pack README + bump PublicApiGenerator
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
Labels: tests, CI

Use MinVer + pack README + bump PublicApiGenerator (#77)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/Approval/GraphQL.SDLExporter.approved.txt
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
Labels: tests, CI

Fix packaging of README
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
Labels: tests

Switch to new printer and System.Text.Json
  README.md
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: documentation

Switch to new printer and System.Text.Json (#82)
  README.md
  src/GraphQL.SDLExporter/ColoredConsole.cs
  src/GraphQL.SDLExporter/CommandLineOptions.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/GraphQLHttpClient.cs
  src/GraphQL.SDLExporter/GraphQLResponse.cs
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: documentation

Fix retries
  src/GraphQL.SDLExporter/SDLWriter.cs
Labels: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Labels: CI

Migrate to NET8 + fixes in tests
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  .gitignore
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/github.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/github.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi.approved.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/IsExternalInit.cs
Labels: tests, CI

Migrate to NET8 + fixes in tests (#114)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  .gitignore
  src/GraphQL.SDLExporter.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.SDLExporter.Tests/Examples/countries.trevorblades.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/github.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/github.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/hivdb.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi-generated.approved.graphql
  src/GraphQL.SDLExporter.Tests/Examples/swapi.approved.graphql
  src/GraphQL.SDLExporter.Tests/GraphQL.SDLExporter.Tests.csproj
  src/GraphQL.SDLExporter.Tests/SDLWriterTests.cs
  src/GraphQL.SDLExporter/GraphQL.SDLExporter.csproj
  src/GraphQL.SDLExporter/IsExternalInit.cs
Labels: tests, CI

.github/labeler.yml:

tests:
  - src/GraphQL.SDLExporter.Tests/**/*

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml

code style:
  - .editorconfig

documentation:
  - README.md
